.contain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
nav{
display: flex;
width: 100%;
text-align: center;
justify-content: center;
gap: 25px;
}
.bold-text{
  font-weight: bold;
}
#bold{
  background: rgb(209, 209, 209);
  color: black;
  border: 0;
  width: 50px;
  text-align: center;
}

.navbar{
  position: relative;
}
.yellow{
  height: 20px;
  width: 20px;
  margin-right: 15px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 9px 0  rgb(214, 227, 39);

  background-color: yellow;
  
}
.green{
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 50%;
  box-shadow: 0 0 9px 0  rgb(161, 250, 161);
  background-color: rgb(46, 216, 46) ;
  border: 0;
  margin-left: 5px;
}

.Mode{
  position: absolute;
  right: 0;
  color: black;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top:15px;
}
.fa-moon{
  display: none;
  transition: 0.5s;
}
.fa-sun{
  transition: 0.5s;
}
.navbar-toggler{
  margin-right: 25px;
}
.btn-outline-success{
  margin-right: 40px;
}
/* .buttons{
width: 100%;

}
@media(max-width:780px){
  .buttons{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
} */

/* Customize scrollbar */
/* Track */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(37, 37, 94); /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners */ 
   /* height: 10px; */

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(60, 60, 165); /* Color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #ccc; /* Color of the scrollbar track on hover */
}
